################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Basics.Main.UI/bin/Debug
/Basics.Main.UI/obj/Debug
/Basics.Main.UI/Basics.Main.UI.csproj
/.vs
/Basics.Core/obj
/Basics.Core/bin/Debug
/Basics.Core/.vs/Basics/v15
/Basics.Physics.Test.UI/bin/Debug
/Basics.Physics.Test.UI/obj
/Basics.Physics.Test.UI.Forms/bin/Debug
/Basics.Physics.Test.UI.Forms/obj/Debug
/Basics.MLNet/obj
/Basics.MLNet2/bin/Debug
/Basics.MLNet/bin/Debug/netcoreapp2.1
/Basics.MLNet2/obj/Debug
/Basics.MLNet3/bin/Debug/netstandard2.0
/Basics.MLNet3/obj
/packages
/Basics.Main.UI/NNL.cs
/Basics.Main.UI/NN.cs
/Basics.Main.UI/N.cs
/Basics.Main.UI/AI.NeuralNetworks/NeuralNetworkLayerExcluded.cs
/Basics.Main.UI/AI.NeuralNetworks/NeuralNetworkExcluded.cs
/Basics.MLNet3/Basics.MLNet.csproj.user
/Basics.MLNet/bin/Debug/netstandard2.0
/Basics.MLNet/Basics.MLNet.csproj.user
*.user
/Basics.MLNet_
/Basics.MLNet2
/Basics.Games/obj
/AI/bin/Debug/netstandard1.0
/AI/obj
/AI.MLNet/bin/Debug/netstandard2.0
/AI.MLNet/obj
/Demos/bin/Debug
/Demos/obj/Debug
/Demos/Games.Demos.TicTacToe
/Demos/AI.NeuralNetworks.Demos.PerceptronTicTacToe
/Demos/AI.NeuralNetworks.Demos.NeuralTicTacToe
/Demos/NNL.cs
/Demos/NN.cs
/Demos/N.cs
/Demos.Forms/bin/Debug
/Demos.Forms/obj/Debug
/Demos.Forms/Games.Demos.TicTacToe
/Games/bin/Debug
/Games/obj
/Games/bin/Release/netstandard1.0
/AI/bin/Release/netstandard1.0
/AI.NeuralNetwork/.vs/SimpleNeuralNetwork/v15
/AI.NeuralNetwork/bin
/AI.NeuralNetwork/obj
/Demos.TicTacToe/bin
/Demos.TicTacToe/obj
/Demos.AI.NeuralNetwork/bin
/Demos.AI.NeuralNetwork/obj
/AI.NeuralNetworks/.vs/SimpleNeuralNetwork/v15
/AI.NeuralNetworks/bin
/AI.NeuralNetworks/obj
/AI.NeuralNetworks.Keras/bin
/AI.NeuralNetworks.Keras/obj
/Demos.AI/bin
/Demos.AI/obj
/Demos.AI.Forms/bin
/Demos.AI.Forms/obj
/Demos.AI.NeuralNetworks/bin
/Demos.AI.NeuralNetworks/obj
/Demos.AI.NeuralNetworks.TicTacToe/bin
/Demos.AI.NeuralNetworks.TicTacToe/obj
/Physics.Test.UI.OpenGL/bin
/Physics.Test.UI.OpenGL/obj
/Physics.Test.UI.Forms/bin
/Physics.Test.UI.Forms/obj
/AI.NeuralNetworks.MLNet/bin
/AI.NeuralNetworks.MLNet/obj
/Core.NetStandard/bin
/Core.NetStandard/obj
/Core.NetFramework/bin
/Core.NetFramework/obj
/WindowsFormsApp1
/Labs.AI.NeuralNetworks.Pathfinding/obj
/Labs.AI.NeuralNetworks.Pathfinding/bin
/Labs.Agents/bin
/Labs.Agents/obj
/Labs.Agents.Demo/bin/Debug
/Labs.Agents.Demo/obj/Debug
/Labs.Agents.NeuralNetworks/obj/Debug
/Labs.Agents.NeuralNetworks/bin/Debug
/Labs.Agents.Demo/obj/Release
/Labs.Agents.NeuralNetworks/bin/Release
/Labs.Agents.NeuralNetworks/obj/Release
