################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Basics.Main.UI/bin/Debug
/Basics.Main.UI/obj/Debug
/Basics.Main.UI/Basics.Main.UI.csproj
/.vs
/Basics.Core/obj
/Basics.Core/bin/Debug
/Basics.Core/.vs/Basics/v15
/Basics.Physics.Test.UI/bin/Debug
/Basics.Physics.Test.UI/obj
/Basics.Physics.Test.UI.Forms/bin/Debug
/Basics.Physics.Test.UI.Forms/obj/Debug
/Basics.MLNet/obj
/Basics.MLNet2/bin/Debug
/Basics.MLNet/bin/Debug/netcoreapp2.1
/Basics.MLNet2/obj/Debug
/Basics.MLNet3/bin/Debug/netstandard2.0
/Basics.MLNet3/obj
/packages
/Basics.Main.UI/NNL.cs
/Basics.Main.UI/NN.cs
/Basics.Main.UI/N.cs
/Basics.Main.UI/AI.NeuralNetworks/NeuralNetworkLayerExcluded.cs
/Basics.Main.UI/AI.NeuralNetworks/NeuralNetworkExcluded.cs
/Basics.MLNet3/Basics.MLNet.csproj.user
/Basics.MLNet/bin/Debug/netstandard2.0
/Basics.MLNet/Basics.MLNet.csproj.user
*.user
/Basics.MLNet_
/Basics.MLNet2
/Basics.Games/obj
/AI/bin/Debug/netstandard1.0
/AI/obj
/AI.MLNet/bin/Debug/netstandard2.0
/AI.MLNet/obj
/Demos/bin/Debug
/Demos/obj/Debug
/Demos/Games.Demos.TicTacToe
/Demos/AI.NeuralNetworks.Demos.PerceptronTicTacToe
/Demos/AI.NeuralNetworks.Demos.NeuralTicTacToe
/Demos/NNL.cs
/Demos/NN.cs
/Demos/N.cs
/Demos.Forms/bin/Debug
/Demos.Forms/obj/Debug
/Demos.Forms/Games.Demos.TicTacToe
/Games/bin/Debug
/Games/obj
